
body {
  margin: 0;
  background: linear-gradient(135deg, #3001ff 0%, #ff9100 50%, #f60909);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.music-player {
  background-color: #f9aa33;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  text-align: center;
  width: 300px;
}

.music-player h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

#song-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.controls button {
  background-color: #00c8ff;
  border: none;
  color: #00c8ff;
  font-size: 24px;
  margin: 0 10px;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.controls button:hover {
  background-color: #666;
}

.progress-container {
  margin-top: 20px;
}

#progress {
  width: 100%;
}

.time-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}

.volume-container {
  margin-top: 15px;
  display: flex;
  align-items: left;
  gap: 10px;
}

.volume-container input[type="range"] {
  width: 60px;

}

.playlist {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 83px;
  overflow-y: scroll;
  border-top: 1px solid #444;
}

.playlist li {
  padding: 10px;
  border-bottom: 1px solid #0099ff;
  cursor: pointer;
  transition: background 0.3s;
}

.playlist li:hover,
.playlist li.active {
  background-color: #0c79f5;
}
